section {
    margin: 2rem;
}
.view-switcher {
    display: flex;
    justify-content:left; 
    margin-top: 20px;
    margin-bottom: 2rem;
}

.view-switcher-style {
    margin-right: 1rem;

}

.task-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content:space-between;
}

